<footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2-4">
                    <h3 class="footer_heading">
                        CA Team
                    </h3>
                    <ul class="footer_list">
                        <li class="footer_list-item">
                            <p>Số 254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng, Việt Nam</p>
                        </li>
                        <li class="footer_list-item">
                            <p class="heading-text">Số Điện Thoại: </p>
                            <p>+84 932 535 006</p>
                        </li>
                        <li class="footer_list-item">
                            <p class="heading-text">E-mail: </p>
                            <p>c1se48team@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4 row-mid">
                    <h3 class="footer_heading">
                        Theo Dõi Chúng Tôi
                    </h3>
                    <ul class="footer_list">
                        <li class="footer_list-item">
                            <a href="" class="footer-item-link">
                                <i class="fab fa-facebook footer-icon"></i>
                                <p>Facebook</p>
                            </a>
                        </li>
                        <li class="footer_list-item">
                            <a href="" class="footer-item-link">
                                <i class="fab fa-instagram-square footer-icon"></i>
                                <p>Instagram</p>
                            </a>
                        </li>
                        <li class="footer_list-item">
                            <a href="" class="footer-item-link">
                                <i class="fab fa-linkedin footer-icon"></i>
                                <p>Linkedin</p>
                            </a>
                        </li>
                        <li class="footer_list-item">
                            <a href="" class="footer-item-link">
                                <i class="fab fa-skype footer-icon"></i>
                                <p>Skype</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer_heading footer_heading-email">
                        Nhận Thông Báo Qua E-mail
                    </h3>
                    <p>Tin tức cập nhật sẽ được gửi đến Email của bạn.</p>
                    <form action="" method="post">
                    <input type="email" class="input-email" name="email">
                    <button class="btn-submit-email">Nhận thông báo</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>