<div class="grid">
        <header id="top" class="header">
            <div class="header_logo">
                <a href="/" class="header__logo-link">
                    <img src="assets/img/low-res-logo (1).png" alt="" class="header__logo-img">
                </a>
            </div>
            <div class="header_nav">
                    <ul class="header-menu">
                        <li class="header-menu-item">
                            <a href="/">
                                <button class="header-menu-btn">
                                Trang Chủ
                            </button>
                            </a>
                        </li>
                        <li class="header-menu-item">
                            <a href="#note">
                                <button class="header-menu-btn">
                                Thông Điệp Của Chúng Tôi
                                </button>
                            </a>
                        </li>
                        <li class="header-menu-item">
                            <a href="#scroll-story">
                                <button class="header-menu-btn">
                                    Những Câu Chuyện
                                </button>
                            </a>
                            
                        </li>
                    
                        <li class="header-menu-item">
                                <button id="acc" class="header-menu-btn btn-acc">
                                    Tài Khoản
                                </button>
                                <div class="show-acc">
                                    <a href="/account">
                                        <i class="far fa-user"></i>
                                        Tài Khoản
                                    </a>
                                    <a href="/login/user/logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Đăng Xuất
                                    </a>
                                </div>
                        </li>
                    </ul>
            </div>
        </header>
    </div>