<div class="acc-container">
        <div class="list">
            <div class="acc-menu">
                <li class="acc-item" id="profile">
                <a href="#profile" class="acc-btn"><i class="far fa-user-circle"></i>Thông Tin Quản Tri Viên</a>
            <div class="smenu">
                <button id="show-admin" class="btn-info"> Thông Tin</button>
            </div>
        </li>
    </div>
    <div class="acc-menu">
        <li class="acc-item" id="setting">
            <a href="#setting" class="acc-btn"><i class="fas fa-cogs"></i>Quản Lý Hệ Thống</a>
            <div class="smenu">
                <button id="list-user" class="btn-info"> Danh Sách Người Dùng</button>
                <button id="info-system" class="btn-info"> Thông Tin Hệ Thống</button>
            </div>
        </li>
    </div>
    <div class="acc-menu">
        <li class="acc-item">
            <a href="" class="acc-btn"><i class="fas fa-sign-out-alt"></i>Đăng Xuất</a>
        </li>
    </div>
    </div>
        <div class="acc-content">
            <div id="acc-main" class="acc-main">
                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5fafbb923393b712b96488590b8f781f.png" alt="">
                <h2>Trang Thông Tin Quản Trị Viên</h2>
            </div>
            <div id="admin-with-info" class="admin-with-info">
                <div class="admin-content-header">
                    <h2>Hồ Sơ Của Tôi</h2>
                    <p>Quản lý thông tin hồ sơ để thuận tiện trao đổi</p>
                </div>
                <div class="admin-info-content">
                    <table class="info-admin">
                        <tr>
                            <th>Họ Tên:</th>
                            <td>Admin</td>
                        </tr>
                        <tr>
                            <th>Số Điện Thoại:</th>
                            <td>0932535006</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>c1se48team@gmail.com</td>
                        </tr>
                        <tr>
                            <th>Địa Chỉ Liên Hệ:</th>
                            <td>Số 254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng, Việt Nam</td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
</div>
<script src="/assets/js/admin.js"></script>