<div class="container">
            <div class="container_with-search">
                <div class="container-search">
                    <input type="text" class="container-search-input" placeholder="Nhập Địa Chỉ">
                </div>
                <div class="container-language">
                    <img src="./assets/img/tải xuống.png" alt="" class="container-language-logo">
                </div>
            </div>
            <ul class="action">
                <li>
                    <button id="btn-give" class="give">MUỐN CHO</button>
                </li>
                <li>
                    <button id="btn-take" class="take">MUỐN NHẬN</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWluaHRpZW5waGFuIiwiYSI6ImNrd2VxNXY0cTA3NW4ycHJ1ZWljYWUzNmUifQ.MQbhTyXsNX8oTeaB7IcgUw';
        if ("geolocation" in navigator) { 
        navigator.geolocation.getCurrentPosition(position => { 
        var map = new mapboxgl.Map({
        // container id specified in the HTML
          container: 'map',
        
          // style URL
          style: 'mapbox://styles/mapbox/streets-v11', 

         // initial position in [lon, lat] format
          center: [position.coords.longitude, position.coords.latitude],

         // initial zoom

         zoom: 11
        });
        const marker = new mapboxgl.Marker()
            .setLngLat([position.coords.longitude, position.coords.latitude])
            .addTo(map);
    }); 
} else { /* geolocation IS NOT available, handle it */ }
</script>

    <div class="content">
        <div class="content-header">
            <div class="content-header-img">
                <div id="note" class="content-img-text grid__column-2-2"> 
                    <h2>Cho Đi & Nhận Lại</h2>
                    <p>Chẳng ai có thể ngờ được những điều mà dịch bệnh Covid-19 mang lại, còn rất nhiều mảnh đời éo le đang chơi vơi giữa đại dịch. Hãy 
                        sống chậm lại và yêu thương nhiều hơn để thấy ta còn hạnh phúc khi được trao đi </p>
                </div>
            </div>
            <div class="content-container-header">
                <h1>Thông Điệp của chúng tôi!!!</h1>
            </div>
            <div class="content-container-paragrap">
                <p>
                    “Sống trong đời sống cần có một tấm lòng...” hãy dành cho nhau những yêu thương, những tấm lòng nhân ái, biết chia sẻ, thấu hiểu, sẵn sàng giúp đỡ những mảnh đời bất hạnh, những hành động đó như tiếp thêm niềm vui, động lực, nguồn sức mạnh để cùng nhau vượt qua đại dịch đầy khó khăn này. Cùng chung mục đích chia sẻ khó khăn với người nghèo, Không chỉ bằng lời nói, hành động quyết tâm ngăn chặn dịch mà còn bằng cả những tấm lòng thiện nguyện góp phần động viên, chia sẻ những khó khăn, phát huy được truyền thống tương thân tương ái, nhường cơm sẻ áo, lá lành đùm lá rách. Trong khó khăn đã xuất hiện nhiều hành động, nghĩa cử cao đẹp, những câu chuyện cảm động đang lan tỏa như nhắc nhở chúng ta phải biết trân trọng những gì mình đang có và sống có trách nhiệm với gia đình, cộng đồng.
                    Thời gian qua có rất nhiều cá nhân, doanh nghiệp thực hiện nghĩa cử cao đẹp ấy; người góp tiền, người góp nhu yếu phẩm, phát cơm miễn phí,... Tất cả đều đáng trân trọng, góp phần lan tỏa yêu thương, góp sức cho cuộc chiến đẩy lùi đại dịch COVID-19.
                </p>
            </div>
        </div>
        <div class="slide">
            <div class="filtering">
                <img src="assets/img/cuutro.jpg" alt="" class="slide-img">
                <img src="assets/img/cuutro3.jpg" alt="" class="slide-img">
                <img src="assets/img/cuutro4.jpg" alt="" class="slide-img">
                <img src="assets/img/cuutro5.jpg" alt="" class="slide-img">
            </div>
        </div>
        <div id="scroll-story" class="content-container-header">
            <h1>Chia Sẻ Những Câu Chuyện "Ấm Lòng"
                <i class="fas fa-heart" style="color: red;"></i>
            </h1>
        </div>
        <div class="story">
            <img src="./assets/img/BDS.jpg" alt="" class="story-img grid__column-6-4">
            <div class="story-text">
                <h2 style="font-size: 3rem; margin: 0; line-height: 3rem; margin-bottom: 20px;">'Sài Gòn ta thương' kể chuyện sinh con hy hữu trong mùa dịch</h2>
                <span style="font-size: 1.4rem; line-height: 3rem;" >anh Tám Sang, trưởng hội thiện nguyện BDS, người hùng trong tim của nhiều bà con trong mùa dịch này. Đây cũng là lần hiếm hoi anh chia sẻ với MC Ngọc Ánh về hành trình cứu trợ thầm lặng, gian nan; tiết lộ nhiều trường hợp khiến anh rơi nước mắt, đặc biệt là chuyện những sản phụ sinh con mùa dịch.

                    Từ khi đợt dịch thứ 4 bùng phát, anh Tám Sang cùng các anh em trong hội đã túc trực 24/7, tất bật rong ruổi các con đường, ngõ hẻm tham gia công tác chống dịch, thiện nguyện. Anh Tám Sang tiết lộ“Mấy tháng nay các anh em đều không về nhà, mà trụ lại nhà tôi. Anh em nói với nhau chừng nào hết dịch mới quay về với gia đình. Khi tham gia cuộc chiến này, tôi chấp nhận hy sinh cả tính mạng”.Cụ thể, anh Tám Sang sẵn sàng bỏ tiền túi để mua thuốc và máy móc về nghiên cứu, lập ra đội phun sát khuẩn len lỏi vào những ngõ ngách phun giúp cho bà con. Anh tận dụng 6 chiếc xe để cho chạy hệ thống xe cứu thương 0 đồng đưa các ca F0 lên tới nơi cách ly…</span>
            </div>
        </div>
        <div class="story">
            <img src="./assets/img/trao_com-1626600093208.jpg" alt="" class="story-img grid__column-6-4">
            <div class="story-text">
                <h2 style="font-size: 3rem; margin: 0; line-height: 3rem; margin-bottom: 20px;">Những câu chuyện cảm động phía sau hàng nghìn suất cơm cho người cơ nhỡ</h2>
                <span style="font-size: 1.4rem; line-height: 3rem;" >Là một người sinh ra và lớn lên ở thành phố mang tên Bác, anh Thản yêu và thông thạo từng góc phố nơi đây. Và anh hiểu rõ hơn ai hết khi lệnh giãn cách được ban bố, các cửa ngõ vào thành phố bị phong tỏa, thì cũng đồng nghĩa với việc sẽ nhiều người bị kẹt lại, hầu hết trong số đó là những người lao động nghèo khổ.Khi được hỏi về những đối tượng được nhóm thiện nguyện giúp đỡ trong những ngày giãn cách, anh Thản cho biết: “Họ là những người mưu sinh bằng nghề bán vé số dạo, nay không còn đường sống vì bị cấm bán. Họ không biết phải làm gì, về quê cũng không được mà ở lại TP Hồ Chí Minh cũng không xong vì cũng không có tiền”.“Họ còn là những chú chạy xe ôm truyền thống, thường ngày đã bị cạnh tranh bởi xe ôm công nghệ nên kiếm sống chật vật. Nay bị cấm chạy lại càng khốn khó hơn, đành dắt xe ra nằm ngủ ngoài đường vì không còn thuê nổi phòng trọ, hoặc không dám về nhà...Rồi những người lượm ve chai cũng thế, họ làm lụng vất vả cả ngày mà không đủ tiền ăn ba bữa lẫn trả tiền phòng trọ, do bây giờ đồ đồng nát không ai thu mua nữa, mà nếu có mua thì cũng với mức giá rẻ mạt.</span>
            </div>
        </div>
    </div>
     <div class="backtop">
        <a href="#top">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
<form method="POST" action="/give">
    <div id="myModal" class="modal">
        <div id="contentModal-give" class="modal-content modal-content-give">
            <span class="close">x</span>
            <h2 class="header-modal" style="text-align: center; 
            color: rgb(0, 85, 169);
            font-size: 2rem;">Bạn có thể trao gì?</h2>
            <div class="modal-title">
                Nhu Yếu Phẩm
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Khẩu Trang</div>
                        <div class="quantity">
                            <input type="number" value="0" name="khautrang" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Hộp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Rau Củ Quả</div>
                        <div class="quantity">
                            <input type="number" value="0" name="raucu" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Gạo</div>
                        <div class="quantity">
                            <input type="number" value="0" name="gao" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Mì Gói</div>
                        <div class="quantity">
                            <input type="number" value="0" name="migoi" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Thùng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Sữa</div>
                        <div class="quantity">
                            <input type="number" value="0" name="sua" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Hộp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Trứng</div>
                        <div class="quantity">
                            <input type="number" value="0" name="trung" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Vỉ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-title">
                Phương Tiện Vận Tải
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Xe Tải 4 Tấn</div>
                        <div class="quantity">
                            <input type="number" value="0" name="xe4tan" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Chiếc</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Xe Tải 2 Tấn</div>
                        <div class="quantity">
                            <input type="number" value="0" name="xe2tan" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Chiếc</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-title">
                Ghi Chú
            </div>
            <textarea name="comment" id="" style="height: 150px; width: 100%; margin-bottom: 10px;" class="modal-note"></textarea>
            <div class="modal-footer">
                <a href="">
                    <button class="modal-next">
                        <span>Tiếp Tục</span>
                    </button>
                </a>
            </div>
        </div>
    </form>
    <form method="POSt" action="/take"> 
        <div id="contentModal-take" class="modal-content modal-content-take">
            <span class="close">x</span>
            <h2 class="header-modal" style="text-align: center; 
            color: rgb(0, 85, 169);
            font-size: 2rem;">Bạn Muốn Nhận GÌ?</h2>
            <p style="text-align: center; font-size: 1.4rem;">(Nhớ là cần lắm mới nhận nhé vì nhiều người còn khốn khổ
                <i class="fas fa-heart" style="color: red;"></i>
            )
            </p>
            <div class="modal-title">
                Nhu Yếu Phẩm
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Số Hộ Cần</div>
                        <div class="quantity">
                            <input type="number" value="1" name="soho" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Hộ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Khẩu Trang</div>
                        <div class="quantity">
                            <input type="number" value="0" name="khautrang" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Hộp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Rau Củ Quả</div>
                        <div class="quantity">
                            <input type="number" value="0" name="raucu" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Gạo</div>
                        <div class="quantity">
                            <input type="number" value="0" name="gao" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Mì Gói</div>
                        <div class="quantity">
                            <input type="number" value="0" name="migoi" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Thùng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Sữa</div>
                        <div class="quantity">
                            <input type="number" value="0" name="sua" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Hộp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-list">
                <div class="modal-form">
                    <div class="modal-item">
                        <div class="name-item">Trứng</div>
                        <div class="quantity">
                            <input type="number" value="0" name="trung" class="input-quantity">
                            <span style="color: rgb(0, 85, 169); margin-right: 10px;margin-top: 12px;text-align: center;font-size: 1.4rem;">Vỉ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-title">
                Xác Nhận Thông Tin
                <span class="red">*</span>
            </div>
            <span style="color: rgba(0,0,0,.65);font-size: 1.4rem;">
                Để đội CTV lọc và giúp đỡ tốt hơn, bạn vui lòng xác nhận thông tin cá nhân bằng cách chụp hình CMND/CCCD nhé. Thông tin của bạn sẽ được hiển thị trên bản đồ ngay lập tức để nhận giúp đỡ. Chúng tôi sẽ không hiển thị CMND/CCCD ra ngoài.
            </span>
                <input type="file" style="display: block; font-size: 12px;">
            <div class="modal-title">
                Trình Bày Hoàn Cảnh
            </div>
            <textarea name="comment" id="" style="height: 150px; width: 100%; margin-bottom: 10px;" class="modal-note"></textarea>
            <div class="modal-footer">
                <a href="">
                    <button class="modal-next">
                        <span>Tiếp Tục</span>
                    </button>
                </a>
            </div>
        </div>
    </form>
    </div>
    {{!-- ../../public/assets/js/main.js --}}
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="./assets/js/slide.js"></script>
    <script type="text/javascript" src="assets/Slick/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/Slick/slick.js"></script>
    <script>
        $(document).ready(function(){
        $('.filtering').slick({
        prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>left-arrow</title><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="#565656"><polyline points="23,30 9,16 23,2 " transform="translate(0, 0)"></polyline></g></svg></button>',
        nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>right-arrow</title><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="#565656"><polyline points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline></g></svg>  </button>',
        });
    });
    </script>
