 <form method="POST" action="/login/user">
  <div class="auth-form">
            <div class="auth-form-container">
                <div class="auth-form--header">
                    <h3 class="auth-form--heading">Đăng Nhập</h3>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" name="username" class="auth-form__input" placeholder="Nhập tài khoản">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" name="password" class="auth-form__input" placeholder="Nhập mật khẩu">
                    </div>
                </div>
                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        Nếu bạn chưa có tài khoản đăng ký tài khoản
                        <a href="/register" class="auth-form__policy-link">
                            Tại Đây
                        </a>
                    </p>
                </div>
                <div class="auth-form__controls">
                    <button class="btn btn--primary" type="submit">Đăng Nhập</button>
                </div>
            </div>
        </div>
</form>
