<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA - No One Left Behind</title>
    <link href="assets/img/low-res-logo_auto_x2-removebg-preview.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/input-info.css">
    <link rel="stylesheet" type="text/css" href="assets/Slick/slick.css">
    <link rel="stylesheet" href="assets/font/fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
        <div class="auth-form">
            <div class="auth-form-container">
                <div class="auth-form--header">
                    <h3 class="auth-form--heading input-info">Nhập Thông Tin Người Dùng
                    </h3>
                    <p>Khuyến cáo: Vui lòng nhập đầy đủ đủ và chính xác thông tin để được hổ trợ chính xác va nhanh chóng</p>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <p class="label">
                            Họ Và Tên
                            <span class="red">*</span>
                        </p>
                        <input type="text" class="auth-form__input" placeholder="Họ Và Tên ">
                    </div>
                    <div class="auth-form__group">
                        <p class="label">
                            Số Điện Thoại Liên Hệ
                            <span class="red">*</span>
                        </p>
                        <input type="number" class="auth-form__input" placeholder="Nhập Số Điện Thoại ">
                    </div>
                    <div class="auth-form__group">
                        <p class="label">
                            Giới Tính
                            <span class="red">*</span>
                            <select style="
                            font-size: 1.6rem;
                            height: 30px;
                            width: 60px;">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </p>
                        <p class="label">
                            Năm Sinh
                            <span class="red">*</span>
                        </p>
                        <input type="number" class="auth-form__input" placeholder="Nhập Năm Sinh ">
                    </div>
                    <div class="auth-form__group">
                        <p class="label">
                            E-mail Liên Hệ
                            <span class="red">*</span>
                        </p>
                        <input type="email" class="auth-form__input" placeholder="Nhập E-mail Liên Hệ ">
                    </div>
                </div>
                <div class="auth-form__group">
                    <p class="label">
                        Nơi cư trú (Đề nghị ghi rõ địa chỉ, tổ, thôn, xóm, xã phường, quận huyện, thành phố)
                        <span class="red">*</span>
                    </p>
                    <div style="display: flex;">
                        <input type="text" class="auth-form__input" placeholder="Tỉnh/Thành ">
                        <input type="text" class="auth-form__input" placeholder="Quận/Huyện ">
                        <input type="text" class="auth-form__input" placeholder="Phường/Xã ">
                    </div>
                    <input type="text" class="auth-form__input" placeholder="Ghi rõ số nhà, tên đưuòng ">
                </div>
                <div class="auth-form__aside">
                    <p class="red">
                        *Dữ liệu bạn cung cấp hoàn toàn bảo mật và chỉ phục vụ cho việc xác thực thông tin và liên hệ hỗ trợ
                    </p>
                </div>
                <div class="auth-form__controls">
                    <a href="index.html">
                        <button class="btn auth-form__controls--back">Quay Lại Trang Chủ</button>
                    </a>
                    <button class="btn btn--primary">Tiếp Tục</button>
                </div>
            </div>
        </div>
<!-- =================== footer ======================= -->
</body>
</html>